<div class="container main-container">
    <h1>Detalhes do {{ supplier.name }}</h1>

    <div>
        <h4>Informação somente leitura</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <label class="control-label">Nome</label>
            </dt>
            <dd class="col-sm-10">
                {{ supplier.name }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Documento</label>
            </dt>
            <dd class="col-sm-10">
                {{ supplier.document }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Ativo</label>
            </dt>
            <dd class="col-sm-10">
                <input [checked]="supplier.active" class="check-box" disabled="disabled" type="checkbox">
            </dd>
        </dl>
    </div>

    <div>
        <a class="btn btn-dark" [routerLink]="['/suppliers/editar',supplier.id]">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/suppliers/listar-todos']">Voltar</a>
    </div>
</div>